@value paintBlue, paintBlack,paintBrown,paintGray,paintWhite from "../../common/colors.css";
.input_group {
  position: relative;
  background-color: transparent;
  padding: 0.5em;
  margin-top: 0.5em;
  flex-basis: 50%;
}
.message {
  flex-basis: 100%;
}
input {
  font-size: 1em;
  padding: 0.8em;
  padding-left: 0.5em;
  display: block;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.5em 0.5em 0 0;
  border-bottom: 1px solid paintBlue;
  transition: all 200ms ease;
}
input:focus {
  border: 1px solid paintBrown;
  outline: none;
}
label {
  color: paintBlue;
  font-size: 1em;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  padding: 0 0.2em;
  left: 0.4em;
  top: 1.7em;
  transition: all 200ms ease;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
input:focus ~ label {
  color: paintBrown;
}
input:focus ~ label,
input:valid ~ label {
  top: -0.1em;
  left: 1em;
  font-size: 0.9em;
  background-color: paintWhite;
}
