@value paintBrown from "../../common/colors.css";
.wrapper {
  display: flex;
  align-items: center;
  font-size: 0.85em;
}
.title {
  color: paintBrown;
  font-size: 1.05em;
  margin-right: 1em;
}
.yellow .title {
  color: #402f11;
}
.pink .title {
  color: #40222b;
}
.green .title {
  color: #361503;
}
.lightBlue .title {
  color: #8a552c;
}
.red .title {
  color: #661a20;
}
