@value paintBlack, paintWhite, paintBrown, paintBlue from "../../common/colors.css";
@value btn_border_radius, btn_padding from "../../common/size.css";
.header {
  position: relative;
  cursor: default;
  flex-basis: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: paintBrown;
  padding: 0.8rem;
  background-color: paintBlack;
}
.popup_info {
  margin-top: 0.5rem;
}
.popup_close {
  position: absolute;
  left: 1em;
  top: 0.5em;
  font-size: 1rem;
  border: none;
  background-color: paintBlue;
  padding: 0.8rem 1.6rem;
  color: paintWhite;
  border-radius: btn_border_radius;
}
.imageGeneratorLink {
  cursor: pointer;
  text-decoration: none;
  background-color: paintWhite;
  color: paintBlue;
  padding: 0.5em;
}
.logout {
  cursor: pointer;
  background-color: paintWhite;
  padding: 0.5em;
  color: paintBlue;
  outline: none;
  border: none;
}
