@value paintBlack, paintWhite from "../../common/colors.css";
.footer {
  cursor: default;
  flex-basis: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: paintBlack;
  color: paintWhite;
  border-radius: 0 0 0.5rem 0.5rem;
}
.logo {
  width: 50%;
  max-width: 15rem;
  height: auto;
}
