@value paintWhite,paintBlue, paintBrown from "../../../common/colors.css";
.login_main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login_main > li {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-bottom: 0.8rem;
}
.social_btn {
  width: 90%;
  color: paintBlue;
  cursor: pointer;
  padding: 1rem;
  outline: 0;
  border: 0;
  border-radius: 10rem;
  font-size: 1em;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.social_btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: paintBrown;
  border-radius: 10rem;
  z-index: -2;
}
.social_btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: paintBlue;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.social_btn:hover {
  color: paintWhite;
}
.social_btn:hover::before {
  width: 100%;
}
